.div1{
    background-image: url('https://png.pngtree.com/png-clipart/20221013/original/pngtree-stressed-tired-female-employee-working-on-table-on-computer-during-hot-png-image_8680352.png');
    width: 1300px;
    height: 750px;
    margin-left: 200px;
}
h4{
    font-size: 100px;
    color: rgb(249,191,118);
    font-weight: bolder;
    margin-left: 130px;

}