.skills {
  background-color: rgb(26, 31, 34);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 600px;
  width: 1400px;
  margin-left: 150px;
}

.skills h2 {
  color: #fff;
  font-size: 100px;
  margin-top: -20px;
  margin-left: -50px;
}

.skills p {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -50px;
}

.skills h4 {
  color: #fff;
}

.skills .mt-3 {
  margin-top: 15px;
}
