
.portfolio {
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #811818;
  }
  
  .portfolio .row {
    margin-top: 20px;
  }
  
  .portfolio .col {
    margin-bottom: 20px;
  }
  